html{
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: sans-serif;
}
section{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #111111;
    display: grid;
    place-content: center;
}
.glass_group{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.circle_yellow{
    width: 110px;
    height: 110px;
    background-color: #ffff57;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.circle_red{
    width: 70px;
    height: 70px;
    background-color: #ff6347;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 1;
}
.circle_blue{
    width: 160px;
    height: 160px;
    background-color: #4169e1;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}
.glassmorphism_card{
    position: relative;
    width: 320px;
    height: 200px;
    border-radius: 30px;
    margin: 50px 50px;
    padding: 30px;
    color: #ffffff;
    z-index: 2;
    border: .1px solid #f3f3f3;
    background: linear-gradient(160deg,#ffffff50,#f3f3f360,#fff9f950,#ffe4e460);
    backdrop-filter: blur(20px);
}